<!-- Begin MailChimp Signup Form -->
<form action="//haseebq.us3.list-manage.com/subscribe/post?u=745ed61f267420f81490b480e&amp;id=a86c87f5da" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate tight" target="_blank" novalidate>

  <div class="ui action input">
	<input type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="your email" required>

    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_745ed61f267420f81490b480e_a86c87f5da" tabindex="-1" value=""></div>

    <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="ui tiny basic button">Subscribe</button>
  </div>
</form>
<!--End mc_embed_signup-->
