<!-- START site-menu -->
<div class="secondary center stretch flexbox">
  <div class="padded item">
    <div class="ui small header">Main</div>
    <div class="menulist">
        <a class="item" href="{{ site.url }}">/{{ site.title }}</a>
    </div>
  </div>
  <div class="divider padded item">
    <div class="ui small header">Topics</div>
    <div class="menulist">
          <a class="item" href="{{ site.url }}">/{{ site.title }}</a>
    </div>
  </div>
  <div class="divider padded item">
    <div class="ui small header">Follow</div>
    <div class="left tight greyed flexbox">
      <a class="icon item" title="Feed yourself" href="http://haseebq.com/rss/"><i class="ui rss icon"></i></a>
    </div>
    <img class="ui tiny rounded image" src="{{ site.url }}/{{ site.profile }}">
  </div>
</div>
<!-- END site-menu -->
