---
layout: default
---

{% case page.type %}
  {% when 'home' %}
    {% assign title = site.title %}
    {% assign pages = site.posts %}
  {% when 'tags' %}
    {% assign title = page.name %}
    {% assign pages = site.posts | where_exp: "post", "post.tags contains title" %}
  {% when 'years' %}
    {% assign title = page.name %}
    {% assign pages = site.posts | where_exp: "post", "post.path contains title" %}
  {% else %}
    {% assign title = 'results' %}
    {% assign pages = site.posts %}
{% endcase %}

<div class="site-header" style="background-image: url({{ site.url }}/{{ site.cover }})">
  <div class="ui huge header">{{ title }}</div>
</div>

{% for page in pages %}
<div class="spacer">
  <div class="preview">
    {% include preview.html page=page %}
  </div>
</div>
{% endfor %}
